@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

.App {
  display: flex;
  font-size: 18px;
  font-family: 'Epilogue', sans-serif;
  margin-left: 40px;
  margin-right: 60px;
  margin-top: 30px;
}

/* Logo */

.logo {
  margin-top: 20px;
  margin-right: 50px;
}

/* Navbar */

li {
  list-style: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  width: 35%;
  color: hsl(0, 0%, 41%);
}

.arrow-down {
  display: flex;
  align-items: center;
}

.arrow-down li {
  margin-right: 5px;
}

/* Login */

.login-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: hsl(0, 0%, 41%);
  margin-right: 30px;
}

.registerBtn {
  margin-left: 50px;
  border-radius: 20px;
  border: 2px solid hsl(0, 0%, 41%);
  padding: 14px 18px 14px 18px;
}

.App img {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 150px;
  left: 750px;
}


/* Message */
.Header {
  font-size: 4.5rem;
  width: 75%;
}
.Message {
  color: hsl(0, 0%, 41%);
  line-height: 1.8rem;
  width: 70%;
}

#Learn-More {
  padding: 1rem 1.5rem;
  color: white;
  background-color: black;
  border-radius: 15px ;
  width: 18%;
}
/* Footer */

.footer-container {
  position: absolute;
  left: 160px;
  bottom: 340px;
  width: 30%;
  height: 2.5rem;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
}
